<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
  </head>
  <body>
    {% for course in coursework %} <!-- NOTE:  this is for logic -->
      <h1>{{ course.courseName }} <!-- NOTE:  this is accessing a variable --></h1>
      <p>
        {{ course.courseUrl }}
      </p>
      <p>
        {{ course.assignment1 }}<br />
        {{ course.assignment1Desc }} <br>
        {{ course.assignment1Link }} <br>
        {{ course.assignment2 }}<br />
        {{ course.assignment2Desc }} <br>
        {{ course.assignment2Link }} <br>
      </p>
    {% endfor %}
  </body>
</html>
