<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Home</title>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/base.css' %}">
  </head>
  <body>
    <div class="container">
      {% for course in coursework %}
        <div class="card bg-info text-light mt-3 text-center">
          <div class="card-header">
            <h1>
              <a href="{{ course.courseUrl }}">
                {{ course.courseName }}
              </a>
            </h1>
          </div>
          <div class="car-body">
            {% if "Tomorrow" in course.assignment1Desc %}
            <h5 class="text-warning">
            {% elif "Today" in course.assignment1Desc %}
            <h5 class="text-danger">
            {% else %}
            <h5>
            {% endif %}
              <a href="{{ course.assignment1Link }}">
                {{ course.assignment1 }} {{ course.assignment1Progress }}
              </a>
            </h5>
            {% if "Tomorrow" in course.assignment1Desc %}
            <p class="text-warning">
            {% elif "Today" in course.assignment1Desc %}
            <p class="text-danger">
            {% else %}
            <p>
            {% endif %}
              {{ course.assignment1Desc }}
            </p>
            {% if "Tomorrow" in course.assignment2Desc %}
            <h5 class="text-warning">
            {% elif "Today" in course.assignment2Desc %}
            <h5 class="text-danger">
            {% else %}
            <h5>
            {% endif %}
              <a href="{{ course.assignment2Link }}">
                {{ course.assignment2 }} {{ course.assignment2Progress }}
              </a>
            </h5>
            {% if "Tomorrow" in course.assignment2Desc %}
            <p class="text-warning">
            {% elif "Today" in course.assignment2Desc %}
            <p class="text-danger">
            {% else %}
            <p>
            {% endif %}
              {{ course.assignment2Desc }}
            </p>
          </div>
        </div>
      {% endfor %}
      <br>
    </div>
  </body>
</html>
